/*--------------------------------------------------------------
>>> TABLE OF CONTENTS: Block Editor Styles
----------------------------------------------------------------

	0. Block Editor WYSIWYG Optimizations

----------------------------------------------------------------------------- */

/* 0.  Block Editor WYSIWYG Optimizations
-------------------------------------------------------------- */

  /*body = editor-styles-wrapper*/
  body{
    padding:0;
  }

  /*default margin between blocks*/
  .is-root-container > * {
    margin-block-start: 20px;
    margin-block-end: 0;
  }

  /* Width of "full-wide" blocks */
  .wp-block[data-align='full'], .wp-block[data-align='wide']  {
      max-width: none;
  }
  /* Width of "wide" blocks */
  @media (min-width: 1480px) {
    .wp-block[data-align='wide'] {
        max-width: 90vw;
    }
  }
